<h1> Fornecedor: <%=@supplier.brand_name %></h1>

<div>
  <strong>Razão social: </strong><%= @supplier.corporate_name%>
  <strong>CNPJ: </strong><%= @supplier.registration_number%>
  <strong>Endereço: </strong><%= @supplier.full_address%>
  <strong>Cidade: </strong><%= @supplier.city%>
  <strong>Estado: </strong><%= @supplier.state%>
  <strong>E-mail: </strong><%= @supplier.email%>
  <strong>Telefone: </strong><%= @supplier.phone_number%>
</div>

<div>
  <%= link_to 'Voltar', root_path %>
</div>