<h1>Galpão <%= @warehouse.code %></h1>
<h2><%= @warehouse.description%></h2>

<div>
  <strong>Nome: </strong><%= @warehouse.name %> </br>
  <strong>Cidade: </strong><%= @warehouse.city %> </br>
  <strong>Área: </strong><%= @warehouse.area %> m2 </br>
  <strong>Endereço: </strong><%= @warehouse.address %> <strong>CEP: </strong> <%= @warehouse.cep%> </br>
</div>

<%= link_to 'Voltar', root_path %>